* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hanken Grotesk', sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  width: 300px;
  height: 400px;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  color: white;
}

.numbers-result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  height: 150px;
  background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
  border-radius: 100px;
  align-items: center;
  font-family: 'Hanken Grotesk', sans-serif;
}
.number{
  font-size: 60px;
}
.of{
  color: hsl(0, 0%, 50%);
}
.summary {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 300px;
  height: 400px;
  background-color: white;
  padding-left: 20px;
  border-radius: 20px;
  box-shadow: 5px -1px 10px rgba(0,0,0,0.1);
  padding-bottom: 20px;
}
.summary h1{
  font-size: 20px;
}
.reaction{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 250px;
  height: 40px;
  background-color: hsla(0, 100%, 67%, 0.1);
  padding: 5px;
  border-radius: 5px;
  padding-top: 10px;
}
.reaction p{
  color: hsl(0, 100%, 67%);
}
.memory{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 250px;
  height: 40px;
  background-color: hsla(39, 100%, 56%, 0.1);
  padding: 5px;
  border-radius: 5px;
  padding-top: 10px;
}
.memory{
  color: hsl(39, 100%, 56%);
}
.verbal{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 250px;
  height: 40px;
  background-color: hsla(166, 100%, 37%,0.1);
  padding: 5px;
  border-radius: 5px;
  padding-top: 10px;
}
.verbal p{
  color: hsl(166, 100%, 37%);
}
.visual{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 250px;
  height: 40px;
  background-color: hsla(234, 85%, 45%, 0.1);
  padding: 5px;
  border-radius: 5px;
  padding-top: 10px;
}
.visual p{
  color: hsl(234, 85%, 45%);
}
.continue{
  width: 250px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  padding-top: 15px;
  border-radius: 50px;
  color: white;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 18px;
}
.continue:hover{
  background: linear-gradient(hsl(241, 81%, 54%),hsl(252, 100%, 67%));
}
span{
  color: hsl(0, 0%, 50%);
}
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}